
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#f4f6f8;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.auth-container{
width:95%;
max-width:420px;
background:#fff;
padding:30px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,.1);
}

.auth-container h1{
text-align:center;
color:#0d8c52;
margin-bottom:25px;
}

input{
width:100%;
padding:15px;
margin-bottom:15px;
border:1px solid #ddd;
border-radius:10px;
font-size:16px;
}

button{
width:100%;
padding:15px;
background:#0d8c52;
color:white;
border:none;
border-radius:10px;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#086d40;
}

p{
margin-top:20px;
text-align:center;
}

a{
color:#0d8c52;
text-decoration:none;
font-weight:bold;
}
